[2014-11-28 18:13] pawal opened #7 "Swedish language code is sv, not sw"
According to http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes the language code for Swedish is sv, not sw. Fix in GUI and translation file name.

[2014-12-02 08:55] sandoche2k opened #8 "HTTP header security recommendation (Ref: Section 2.2)"
Modify "Server" and "Header" content to "unknown" @mtoma

[2014-12-02 12:54] pahi opened #9 "Not a number-error presented to me"
While testing my domain, "hildingsson.se", I ran into a cosmetic issue with the graphical user interface presenting a "not a number" instead of the proper date and time-values.

A link to the test result was provided to me at http://zonemaster.net/test/709
A screenshot is also provided for your benefit.
![screen shot 2014-12-02 at 13 53 27](https://cloud.githubusercontent.com/assets/2960479/526284

[2014-12-02 13:11] pawal opened #10 "Cannot view test result without javascript"
When trying to reach a previous test result from a link and having javascript disabled in the browser, I get redirected to the nojs-interface. But I cannot see the result.
Example URL: http://zonemaster.net/test/709

[2014-12-02 15:59] cdybedahl opened #11 "Module name(s) in Zonemaster_Dancer are dangerous"
If one follows the usual Perl module installation procedure of `perl Makefile.PL && make && make test && make install` in the Zonemaster_Dancer subdirectory, it will destroy an existing installation of DNSCheck on systems with case-insensitive file systems (like MacOS X).

On the same kind of system, it's enough to have DNSCheck installed to make the `t/001_base.t` test pass.

[2014-12-03 08:31] cdybedahl opened #13 "Installation instructions do not work"
Starting from a clean Perl installation, I tried following the installation instructions. I copied the Zonemaster_Dancer directory to another place (using `cp -a`), installed Starman (using `cpanm Starman`) and then ran `starman --port=8088 bin/app.pl`. The resulting output looked like this (excerpt only, it seemed to repeat the error messages forever):

[code]

[2014-12-05 13:58] cdybedahl opened #17 "URL field does not get updated"
After going to a specific test by URL, typing another domain in the relevant field and running a test for it, the URL in the browser's address field no longer matches the one shown in the page content. See included screenshot. The same behavior can be seen in at least Safari and Firefox.

![screen shot 2014-12-05 at 14 53 06](https://cloud.githubusercontent.com/assets/377723/5316667/c6050cdc-7c8e-

[2014-12-05 14:38] #11 closed, assigned to nobody

[2014-12-05 15:16] #9 closed, assigned to nobody

[2014-12-05 15:27] #7 closed, assigned to nobody

[2014-12-08 10:50] #13 closed, assigned to nobody

[2014-12-08 13:39] pawal opened #22 "Disable test profile"
We currently do not have alternate test profiles for testing a domain. This is an option that is available for the user under "advanced options".

It should be able to disable this feature, preferably from the configuration of the interface. It could be done in two ways:
- A configure option to disable profiles
- Or if there is only one profile configured for the web interface, disable the selecto

[2014-12-09 19:20] #8 closed, assigned to nobody

[2014-12-09 19:56] #10 closed, assigned to nobody

[2014-12-09 20:10] #22 closed, assigned to mtoma

[2014-12-10 19:17] #17 closed, assigned to nobody

[2014-12-12 11:44] lwid opened #28 "Inconsistent/missing input validation for input parameters"
When using the Zonemaster service I accidentally stumbled upon an inconsistency in the progress callback. Out of curiosity I quickly had a look at the source code and found a potential SQL injection attack in the service (this has not been verified, hence _potential_). Details are as follows:

The following request is valid and returns proper JSON:
http://zonemaster.net/progress?id=871

The follow

[2014-12-18 10:56] matsduf opened #29 "Undelegated (pre-delegated) test looks for DS at parent"
When doing an undelegated (pre-delegated) test, zonemaster (at zonemaster.net) reports back that it cannot find the DS record at a root server. That is the only comment under DNSSEC. I have tested a signed zone. I submitted the DS hash in the form.

[2015-01-15 12:39] pawal opened #30 "Copy-pasting the link to the most recent test run"
_From @joelpurra on December 11, 2014 15:41_

After testing a domain and reading the results, I would like to copy the direct test link right away. The URL in the browser's address bar isn't updated accordingly, even though the same test result link is available in the domain's test history.
http://zonemaster.net/test/854

_Copied from original issue: dotse/zonemaster#284_

[2015-01-15 12:39] pawal commented on #30
_From @mtoma on December 12, 2014 8:58_

This can be done. It is possible to update the browser address bar with the URL of the last finished test test.

[2015-01-15 12:40] pawal opened #31 "Web site unreadable (colors)"
_From @bortzmeyer on December 23, 2014 10:57_

Links are blue on a blue background. Unreadable.

_Copied from original issue: dotse/zonemaster#292_

[2015-01-15 12:40] pawal opened #32 "Using the back (and forward) button is broken"
_From @joelpurra on December 11, 2014 15:39_

When clicking links in the menu (for example FAQ), the browser's address bar is not updated. Because it's not updated, clicking the back button means leaving the zonemaster.net website. This is unexpected behavior.

_Copied from original issue: dotse/zonemaster#283_

[2015-01-15 12:40] pawal opened #33 "Link to the source code project from zonemaster.net"
_From @joelpurra on December 11, 2014 15:37_

Didn't seem to see a link - not in a prominent place on each page, nor in the FAQ.

_Copied from original issue: dotse/zonemaster#282_

[2015-01-15 12:40] pawal opened #34 "Readability of the FAQ"
_From @joelpurra on December 11, 2014 15:36_

- The link text is blue on blue.
- Question headers are too close to the previous answer.

_Copied from original issue: dotse/zonemaster#281_

[2015-01-15 12:41] pawal opened #35 "Link to /nojs doesn't work when javascript is enabled"
_From @joelpurra on December 11, 2014 15:27_

The the non-javascript version is great - love it! Unfortunately the link in the main interface doesn't work when javascript is enabled.

1. Use a browser with javascript enabled.
1. Go to http://zonemaster.net/
1. Click the link to the "Non-Javascript Interface".
1. The URL in the browser window's address bar changes, but nothing actually happens.

Ex

[2015-01-15 12:41] pawal commented on #35
_From @mtoma on December 11, 2014 15:32_

This is a bug introduced but the very last patch before the release.
Thanks for the report.

[2015-01-15 12:41] pawal opened #36 "Print dates in ISO 8601-format"
_From @joelpurra on December 11, 2014 15:23_

Current date format in the domain result history: `11.12.2014 16:17 `. To me this is "unparseable" as it introduces uncertainty (is the month 11 or 12?) for international usage. Try using the [ISO 8601 standard](https://en.wikipedia.org/wiki/ISO_8601) instead.

    Date and time (current at page generation) expressed according to ISO 8601:
    Date:

[2015-01-15 12:41] pawal commented on #36
_From @mtoma on December 11, 2014 15:28_

We can of course change this.
But now the date should not be considered as ambiguous because it is printed according to the configuration of your browser.

[2015-01-15 12:41] pawal commented on #36
_From @joelpurra on December 11, 2014 15:34_

@mtoma: there's pretty much no way that date format is my browser setting - it might be some library's incorrect definition of Swedish dates. Tested using Swedish settings in Firefox.
https://en.wikipedia.org/wiki/Date_and_time_notation_in_Sweden

Also changed my browser language to English (US) - the same format was shown.

[2015-01-15 12:41] pawal commented on #36
_From @mtoma on December 12, 2014 9:10_

Well this is what JavaScript thinks is the right way to show the date in string format.
But we should change this to ISO format anyway.

[2015-01-15 12:41] pawal commented on #36
_From @joelpurra on December 12, 2014 10:6_

@mtoma: localization is somewhat tricky, so guess the browser is not only looking at browser language settings, but also system settings. Ran these lines in the Firefox browser with Swedish as the only language listed.

[code]

Just remembered that  my Macbook was purchased in Canada, which use three different date systems - it's the reason I prefer ISO

[2015-01-15 12:41] pawal commented on #36
_From @joelpurra on December 12, 2014 10:19_

As a reference, my results in two different browsers with different language settings:

[code]

[code]

[2015-01-15 12:41] pawal opened #37 "HTTPS does not work for zonemaster.net"
_From @jschlyter on December 11, 2014 13:28_

Subject says it all. It's almost 2015, HTTPS everywhere.

_Copied from original issue: dotse/zonemaster#277_

[2015-01-15 12:41] pawal commented on #37
Yes please. @mtoma, is this something you can fix?

[2015-01-15 12:41] pawal commented on #37
_From @mtoma on December 11, 2014 13:38_

I'm looking into it right now.

----- Original Message -----
From: "Patrik Wallström" <notifications@github.com>
To: "dotse/zonemaster" <zonemaster@noreply.github.com>
Cc: "mtoma" <michal.toma@afnic.fr>
Sent: Thursday, December 11, 2014 2:31:37 PM
Subject: Re: [zonemaster] HTTPS does not work for zonemaster.net (#277)

Yes please. @mtoma , is this somethin

[2015-01-15 12:41] pawal commented on #37
_From @mtoma on December 11, 2014 14:45_

There are a few possible ways to go here.
If we want "just" https I can create a self-signed certificate.

If we want a real certificate there are a few things to consider:
- Who will be in charge of the creation of the certificate?
- How are we planning to redirect the other zonematser.TLD domains? (as now it could be pretty easy  to add another domain to

[2015-01-15 12:41] pawal commented on #37
_From @jschlyter on December 11, 2014 15:4_

Just buy a normal webtrust cert for zonemaster.net and be done with it? USD 10.

[2015-01-15 12:41] pawal commented on #37
I agree with @jschlyter, a normal domain validated cert is fine.

For your two other questions, who will be in charge for creating and renewing the cert is the party responsible for running the web site right now. Redirects is not a related issue, any redirects will be done to zonemaster.net that will use the correct certificate. If other content is added to the other zonemaster.TLD sites, those a

[2015-01-15 12:41] pawal commented on #37
_From @amelsec on December 11, 2014 20:18_

+1.

Från: Patrik Wallström [mailto:notifications@github.com]
Skickat: den 11 december 2014 21:16
Till: dotse/zonemaster
Ämne: Re: [zonemaster] HTTPS does not work for zonemaster.net (#277)

I agree with @jschlyter <https://github.com/jschlyter> , a normal domain validated cert is fine.

For your two other questions, who will be in charge for creating an

[2015-01-15 12:42] pawal opened #38 "Spelling correction in Swedish (Proposed by Erika)"
_From @sandoche2k on November 19, 2014 12:57_

@mtoma/Web Frontend/Beta.

Odelegerad = Ej delegerad
Avancerade optioner = Avancerade alternativ
sw = sv
Non-Javascript Interface = Gränssnitt utan Javascript

_Copied from original issue: dotse/zonemaster#242_

[2015-01-15 12:42] pawal commented on #38
_From @sandoche2k on November 26, 2014 15:32_

I think this has been done. Michal, Can you verify and close it.

[2015-01-15 12:42] pawal commented on #38
_From @mtoma on November 26, 2014 17:22_

No Sandoche,

As you can see on the interface it has not yet been done.

Michal

----- Original Message -----
From: "sandoche2k" <notifications@github.com>
To: "dotse/zonemaster" <zonemaster@noreply.github.com>
Sent: Wednesday, November 26, 2014 4:32:40 PM
Subject: Re: [zonemaster] Spelling correction in Swedish (Proposed by Erika) (#242)

I think this has

[2015-01-15 12:42] pawal commented on #38
_From @sandoche2k on November 27, 2014 8:39_

Ok.
Thanks for closing it as soon as it is changed.

[2015-01-15 12:42] pawal commented on #38
_From @ErikaOlsson on December 11, 2014 11:15_

Avancerade optioner = Avancerade alternativ
Non-Javascript Interface = Gränssnitt utan Javascript
Can this be fixed?

[2015-01-15 12:42] pawal opened #39 "Appearance in different browsers"
_From @sandoche2k on November 18, 2014 15:23_

@Michal/Web Front-end/Post1.0

http://browsershots.org/http://192.134.4.83/

_Copied from original issue: dotse/zonemaster#233_

[2015-01-15 12:42] pawal commented on #39
_From @mtoma on November 18, 2014 15:40_

The vast majority of the browser screen-shots differences are probably caused by the fact that the service does not wait long enough for the java-script to complete rendering the web page.

----- Original Message -----
From: "sandoche2k" <notifications@github.com>
To: "dotse/zonemaster" <zonemaster@noreply.github.com>
Sent: Tuesday, November 18, 2014 4:23:

[2015-01-15 12:42] pawal commented on #39
Is that really correct? I would also suspect javascript incompatibilities as a cause for a blank page.

[2015-01-15 12:42] pawal commented on #39
_From @mtoma on November 18, 2014 17:48_

That could be the case if the white screen-shots started at a certain version of the same browser because of some unsupported feature.
In the screen-shots this is not the case. It shows Firefox 11 as showing the interface correctly and in Firefox 31 it shows as blank screen.
In addition I'm using Firefox 25 on my Linux box and I never saw any problem.

---

[2015-01-15 12:42] pawal commented on #39
FWIW, this is the result on dnscheck.iis.se:
http://browsershots.org/http://dnscheck.iis.se/

[2015-01-15 12:42] pawal commented on #39
_From @mtoma on November 20, 2014 8:29_

dnscheck.iise.se does not use any javascript rendered content on the start page. In the Zonemaster GUI ALL the content is Javascript rendered.
I can look at this without problems if anyone is able reproduce the blank page problem with one of the (main) browsers showing a blank page for the Zonemaster GUI.

----- Original Message -----
From: "Patrik Wallströ

[2015-01-15 12:42] pawal commented on #39
_From @sandoche2k on November 26, 2014 15:32_

Move it to post 1.0

[2015-01-15 12:42] pawal commented on #39
_From @sandoche2k on December 8, 2014 13:47_

Windows 7,8 - browser IE 8,9,10

[2015-01-15 12:42] pawal opened #40 "Web site optimization"
_From @pawal on November 18, 2014 14:32_

There are many services that can measure the loading speed of a website and helps to suggest improvements. There are a number of things that can be improved in the Web GUI from this report:

http://gtmetrix.com/reports/192.134.4.83/L1dIzf1m

Recommendations top 5:
- Enable gzip compression
- Leverage browser caching
- Specify a Vary: Accept-Encoding header

[2015-01-15 12:43] pawal opened #41 "Results are not translated in the language chosen in the index"
_From @sandoche2k on November 17, 2014 10:45_

[Requirement]
When a user has chosen a language the index, faq and results MUST be in
the chosen language UNLESS specific messages are missing where in such a case
the default language COULD be used for these, or all, messages.

Test:
1. afnic.fr (Chosen lang "en")
2. Choose other language such as "fr" or "sw", the results are still in English

_Copie

[2015-01-15 12:43] pawal commented on #41
_From @mtoma on November 17, 2014 10:48_

All interface are translated on the fly.
Results are NOT.
To have results translated first chose a language than get some results.

----- Original Message -----
From: "sandoche2k" <notifications@github.com>
To: "dotse/zonemaster" <zonemaster@noreply.github.com>
Sent: Monday, November 17, 2014 11:45:50 AM
Subject: [zonemaster] Results are not translated in

[2015-01-15 12:43] pawal commented on #41
_From @sandoche2k on November 17, 2014 11:4_

Yes, this is how it works now.

But I understood the requirement (that comes from GUI Combined
requirements), that i have added in the comment works like in "dnscheck",
where you change the language after running the tests and the results are
in the language chosen.

On 17 November 2014 11:48, mtoma <notifications@github.com> wrote:

[2015-01-15 12:43] pawal commented on #41
_From @sandoche2k on November 18, 2014 15:43_

I think this can be moved to post 1.0

[2015-01-15 12:43] pawal opened #42 "Add policy and test profiles for the Web GUI"
_From @pawal on November 6, 2014 15:10_

We might need to add other policies and test profiles in addition to the defaults to the GUI, based on other use cases of DNS. See ticket #167.

_Copied from original issue: dotse/zonemaster#175_

[2015-01-15 12:44] pawal opened #43 "Indicate what specific test it is currently running near to the progress bar"
_From @sandoche2k on October 23, 2014 8:48_

_Copied from original issue: dotse/zonemaster#131_

[2015-01-15 12:44] pawal commented on #43
_From @mtoma on October 28, 2014 14:33_

Why is this required for alfa release?

[2015-01-15 12:44] pawal commented on #43
_From @sandoche2k on October 28, 2014 14:35_

I have moved it to beta

On 28 October 2014 15:33, mtoma <notifications@github.com> wrote:

[2015-01-15 12:44] pawal commented on #43
_From @mtoma on November 20, 2014 0:32_

This is a quite heavy development deeding update of the backend API.
Is it possible to move it post 1.0 release? It does not seem to me a blocking issue for the 1.0 release.

[2015-01-15 12:44] pawal commented on #43
@sandoche2k - this is from the Zonecheck requirements. Is it ok to move it to Post-1.0?

[2015-01-15 12:44] pawal commented on #43
_From @sandoche2k on November 20, 2014 8:16_

For release 1.0, we said we should have minimum the necessary requirements
of ZC & DC.

The requirement is from ZC. But as we could all see there are many
requirements from ZC and DC that we will not be able to integrate in
release 1.0, we could move this issue to post 1.0

On 20 November 2014 09:10, Patrik Wallström <notifications@github.com>
wrote:

[2015-01-15 12:45] pawal opened #44 "Direct link to test a domain"
_From @joelpurra on December 11, 2014 15:43_

Is there a way to create a direct link to *test* a domain? This way I can share the most recent results instead of a fixed point in time.

Suggestion:
http://zonemaster.net/test/joelpurra.com

_Copied from original issue: dotse/zonemaster#285_

[2015-01-15 12:45] pawal commented on #44
I am not sure this is a good idea. All kind of misbehaving (not respecting robots.txt) client will initiate tests.

[2015-01-15 12:45] pawal commented on #44
_From @mtoma on December 12, 2014 8:57_

Could you elaborate more on this particular use case? If you sent a link like http://zonemaster.net/test/joelpurra.com to someone you won't have any control on the point in time where this test will bu run. This more or less means that the results will not be very predictable.

[2015-01-15 12:45] pawal commented on #44
_From @joelpurra on December 12, 2014 10:14_

@pawal: you're right, bots could hit links like that hard. Perhaps it could just show the most recent results then?

@mtoma: predictability isn't as important as the most recent results being shown in this case. The use case is that someone tells me that my domain is misconfigured - "here, look at the current values." I've had previous issues with link

[2015-01-15 12:45] pawal commented on #44
_From @cdybedahl on December 12, 2014 10:21_

A link that shows the most recent test for a domain would be kind of neat. Although it would probably upset the kind of person who thinks that Zonemaster is publishing secrets about their site (yes, we just had an email like that) even more.

[2015-01-15 12:45] pawal opened #45 "Web site optimization"
_From @pawal on November 18, 2014 14:32_

There are many services that can measure the loading speed of a website and helps to suggest improvements. There are a number of things that can be improved in the Web GUI from this report:

http://gtmetrix.com/reports/192.134.4.83/L1dIzf1m

Recommendations top 5:

* Enable gzip compression
* Leverage browser caching
* Specify a Vary: Accept-Encoding heade

[2015-01-15 12:47] pawal opened #46 "export the result in HTML format"
_From @sandoche2k on October 23, 2014 8:48_

_Copied from original issue: dotse/zonemaster#130_

[2015-01-15 12:47] pawal commented on #46
_From @mtoma on October 23, 2014 14:1_

Is this really needed?

[2015-01-15 12:47] pawal commented on #46
_From @sandoche2k on October 23, 2014 18:58_

This is part of the requirements.

[2015-01-15 12:47] pawal commented on #46
_From @mtoma on October 24, 2014 7:3_

Yes ok. But I don't know what this requirement means. You can export as HTML already now with a simple "save page as" in your browser.
If this is not enough I need to know what kind of HTML formatting is required.

----- Original Message -----
From: "sandoche2k" <notifications@github.com>
To: "dotse/zonemaster" <zonemaster@noreply.github.com>
Cc: "mtoma" <mic

[2015-01-15 12:47] pawal commented on #46
_From @einar on October 24, 2014 8:56_

Although the req comes from you (AFNIC via ZoneCheck) I see that option as a very minimalistic HTML-export-function; perhaps for the option of viewing a result on a Kindle or similar device with an experimental web browser. So, if I could chose the formatting, I would go for the lowest possible "style" and maximum "interop", not at all what you would get wit

[2015-01-15 12:47] pawal commented on #46
_From @mtoma on October 24, 2014 9:0_

The kind of output the NonJS interface offers for example?

----- Original Message -----
From: "Einar Lönn" <notifications@github.com>
To: "dotse/zonemaster" <zonemaster@noreply.github.com>
Cc: "mtoma" <michal.toma@afnic.fr>
Sent: Friday, October 24, 2014 10:56:03 AM
Subject: Re: [zonemaster] export the result in HTML format (#130)

Although the req comes fro

[2015-01-15 12:47] pawal commented on #46
Was not the original suggestion to have an output that is printable as a report, and that could be saved as HTML or printed (as a PDF or whatever).

[2015-01-15 12:47] pawal commented on #46
_From @mtoma on October 24, 2014 9:14_

Ok, I see so more like the results from the "advanced results" tab but all on one single HTML page to allow easy save or print of the report, right?

----- Original Message -----
From: "Patrik Wallström" <notifications@github.com>
To: "dotse/zonemaster" <zonemaster@noreply.github.com>
Cc: "mtoma" <michal.toma@afnic.fr>
Sent: Friday, October 24, 2014 11:04:12

[2015-01-15 12:47] pawal commented on #46
I am not sure on how to present the report in the best way for the user. Perhaps also add a short summary on the top with any warnings/errors, or "OK"?

[2015-01-15 12:47] pawal commented on #46
_From @sandoche2k on October 24, 2014 9:48_

I think we can move this issue for the beta release.

On 24 October 2014 11:40, Patrik Wallström <notifications@github.com> wrote:

[2015-01-15 12:59] pawal opened #47 "History of previous tests should preload"
_From @einar on November 13, 2014 15:54_

As it is now you have to complete a test to get history for a domain (unless it has been cached). If possible we should preload the history as soon as a user confirms a test (with all the links to previous runs) so he doesnt have to wait a full test cycle if he simply wants to see history.

Yes, there's a use case for this. I do it all the time when people

[2015-01-15 13:01] pawal opened #48 "Pagination for history of runs for the same domain"
_From @sandoche2k on October 23, 2014 8:46_

_Copied from original issue: dotse/zonemaster#128_

[2015-01-15 13:01] pawal commented on #48
_From @mtoma on November 3, 2014 15:11_

This is rather heavy development and does not seem to me to be blocking until we have more than a thousand tests to show in the history for the same domain.
In my opinion this should be postponed until the web interface users really need it.

[2015-01-15 13:01] pawal commented on #48
_From @sandoche2k on November 3, 2014 15:59_

I agree. Moved to release 1.0

On 3 November 2014 16:11, mtoma <notifications@github.com> wrote:

[2015-01-22 11:30] pawal commented on #29
Can we close this @cdybedahl?

[2015-01-22 11:36] cdybedahl commented on #29
It's fixed in engine version 1.0.1. I don't know if the web GUI runs that version or not.

[2015-01-22 11:39] pawal commented on #29
Ok, we keep this issue until @mtoma confirms that the GUI runs a new version of the engine.

[2015-01-28 09:09] sandoche2k opened #49 "Interface does not work in IE"
Tested rediff.com, afnic.fr.

No results until 2 minutes. Hence stopped.

[2015-01-28 09:24] mtoma commented on #49
Could you describe what "does not work in IE" means in some more details?
Did you test the interface in another browser and did it work?
What version of IE is that?
Can I have some screen captures?

[2015-01-28 09:28] pawal commented on #39
I have a new test started here:
http://browsershots.org/http://zonemaster.net/

Worth looking at again...

[2015-01-28 09:29] sandoche2k commented on #49
IE version : 11.0.9600.17501
OS : Windows 7
Screen capture (After 5 mins)

![image](https://cloud.githubusercontent.com/assets/5484470/5935206/848a31dc-a6d8-11e4-8f69-bab3882dcf81.png)

[2015-01-28 09:32] sandoche2k commented on #49
Yes it works in Chrome in the same OS : Windows 7

[2015-01-28 09:50] cdybedahl commented on #49
Just in case someone doesn't already know about it: Microsoft provides time-limited VM images with many combinations of Windows and IE versions specifically for the testing of web applications, at https://www.modern.ie/

[2015-01-28 09:53] sandoche2k commented on #49
That was an useful pointer :-)

[2015-01-28 14:08] mtoma commented on #29
I need a domain and expected results to test this issue.

[2015-01-28 14:22] mtoma commented on #28
It seems the semicolon gets filtered somewhere in the different layers of parameter parsing.
You can try it with a comma and you'll get a Server Error 500 as for the 871A parameter.

As for the security issue. The line you point at in the MySQL backed is vulnerable to SQL injection and will be fixed.

But one important thing to know about the current Frontend/Backend is that it supports 4 differen

[2015-01-28 14:33] mtoma commented on #28
This is a Backend issue and will be fixed in dotse/zonemaster-backend@25

[2015-01-28 14:39] #28 closed

[2015-01-28 15:07] #36 closed

[2015-01-28 17:45] #35 closed

[2015-01-28 18:06] #34 closed

[2015-02-02 12:56] pawal commented on #29
Here is an example:

expo$~>zonemaster-cli --ds 18937,5,1,10DD1EFDC7841ABFDF630C8BB37153724D70830A --ns ns1.loopia.se/93.188.0.20 --ns ns2.loopia.se/93.188.0.21 loopia.se
Seconds Level     Message
======= ========= =======
[...]
   3.77 ERROR     No DS record had a DNSKEY with a matching keytag.
   3.80 ERROR     Delegation from parent to child is not properly signed (no_dnskey).
[...]

The DS RR

[2015-02-02 13:10] pawal commented on #29
The Zonemaster CLI needs keytag,algorithm,type,digest to perform validation on the DS to DNSKEY match - and the same seems to be true for the engine. @cdybedahl - is it necessary to have the keytag to perform this validation, and part of the call to the function? Can it be removed or made optional?

[2015-02-02 13:26] cdybedahl commented on #29
The values asked for are the four RDATA fields in a DS record. Although I see that RFC4034 says that it's only intended to reduce the search space for a matching DNSKEY, so I suppose it could be made optional and set to a fixed value if not provided.

[2015-02-02 16:02] pawal opened #54 "Create an API suitable for the public"
We have an internal API that the web gui uses, but we should consider to offer a public API suitable for automatic testing available to the public.

[2015-02-02 16:04] #43 closed

[2015-02-02 16:05] mtoma commented on #44
To do this kind of testing a public API seems to be more suitable.
The project already has a JSON-RPC API in the backend module.
Would you be interrested if we bade this API public?
This would allow easy softwer driven or automated testing of domains.

[2015-02-02 16:14] pawal commented on #39
We will watch this on case by case basis.

[2015-02-02 16:17] #33 closed

[2015-02-02 16:21] #31 closed

[2015-02-02 16:22] pawal commented on #30
This is related to issue #32.

[2015-02-03 09:49] pawal commented on #45
Duplicate of #40.

[2015-02-03 09:49] #45 closed

[2015-02-03 10:04] pawal commented on #42
This is a dependency on the issue https://github.com/dotse/zonemaster-engine/issues/19 in the test engine.

[2015-02-03 12:32] pawal opened #55 "Create documentation on how to install the GUI on our supported platforms"
See issue https://github.com/dotse/zonemaster/issues/137.

[2015-02-03 13:04] pawal commented on #47
Need input from @einar - how should it work in detail? Use an additional button for this?

[2015-02-03 13:05] #44 closed

[2015-02-03 13:09] pawal commented on #29
This issue needs an update in the engine, in the backend and the GUI. Should I create new issues for each change?

[2015-02-04 08:58] pawal opened #56 "Missing link in the Web site"
_From @bortzmeyer on February 3, 2015 15:48_

FAQ in French, the text says "Le lien suivant, par exemple, renvoie sur les résultats de la dernière analyse de "afnic.fr":" but there is no "lien suivant".

_Copied from original issue: dotse/zonemaster#332_

[2015-02-05 16:14] pawal opened #57 "Bug in rendering saved result"
See http://zonemaster.net/test/210 - you have JSON stuff flowing the top of the page. And for some reason it looks different to me each time I render the page.

[2015-02-05 16:29] mtoma commented on #57
Why do you need to see precisely the results of test 210?
How did you get to this test?
Those are SQL injection test results from the security audit, I can delete them from the database but rather prefer not to.
In any case, this is not a bug.

[2015-02-05 22:00] pawal commented on #57
This is from a user report. Any user can enumerate the test identifiers. Those should not be numeric for that reason alone. Could you change it for one of our planned releases?

[2015-02-09 13:27] einar commented on #47
Nah, similar function as we had in DNSCheck would be fine I think. In DNSCheck the history-page loads as soon as the test is started (not waiting for it to complete as Zonemaster does).

Perhaps we could let the righthand page load with History as default as soon as a test starts and then (unless the user clicks a History-link) just go back to Basic and display the results?

[2015-02-12 11:48] mtoma commented on #57
The problem here is that the code assumes numeric IDs of tests with new tests having higher ID than older tests. So I can change this to let say a millisecond epoch easily but the only thing that would change would be that a user willing to enumerate the results would send about 1000000 times more traffic. I don't want to see this on the server.
We should first decide if it is any kind of problem

[2015-02-12 11:49] mtoma opened #58 "Disable DS records on the interface until the DS hash algorithm field is added in the gui."

[2015-02-12 11:50] #58 closed

[2015-02-12 12:01] mtoma opened #60 "Change logo"

[2015-02-12 12:02] #60 closed

[2015-02-12 20:30] pawal opened #62 "Enable DS records in the interface"
Enable DS records on the interface when the DS hash algorithm field has been added in the gui. This is a reference to #58.

[2015-02-13 08:53] mtoma commented on #62
Shouldn't this issue be "Enable DS records on the interface"?

[2015-02-13 09:23] #38 closed

[2015-02-13 12:50] pawal commented on #62
Yes, sorry about that.

[2015-02-15 21:30] mtoma opened #66 "zonemaster-gui issue 17 impacts in the frontend"

[2015-02-15 21:35] #66 closed

[2015-02-18 15:01] sandoche2k opened #68 "Do we need a directory "Zonemaster_Dancer" ?"
Why not move all the contents in "Zonemaster_Dancer" directly under "Zonemaster_GUI" and remove the "Zonemaster_Dancer" directory.

Thus.. aligning the format of all other repositories.

[2015-02-18 15:28] sandoche2k opened #69 ""localhost" version of the GUI is not working"
Step 1 : Successful Installation of the engine, backend and GUI  in Ubuntu 14.04

Step 2: Start the backend

Step 3 :  On starting localhost, the interface opens as in "zonemaster.net"

Step 3 : On launching the domain "afnic.fr" in the GUI, no verification happens

Below is the messages from the Backend
----------------------------------
sudo starman --port=80 bin/app.pl
2015/02/18-16:19:39 Starm

[2015-02-18 18:24] pawal commented on #68
I agree. And "Docs" should be lowercased to "docs", and README should be a markdown document called README.md.

[2015-02-19 09:48] pawal commented on #49
Erika claims that it is still not working on IE 9 on Windows 7.

[2015-02-23 11:50] #49 closed

[2015-02-23 13:03] sandoche2k commented on #49
The filed for domain name input is not visible (From Erika) [IE 9 on Windows 7]

![image](https://cloud.githubusercontent.com/assets/5484470/6328167/bf12ac94-bb64-11e4-8862-ad55cb0423f0.png)

[2015-02-23 13:40] mtoma commented on #49
Did you clear the browser cache by pressing CTRL+R?

[2015-02-23 13:52] ErikaOlsson commented on #49
Yes, I have tried that. Stil not working

[2015-02-23 14:23] mtoma commented on #49
Hello, Erika, can you give me a higher resolution screen capture including the address bar please?
I have a virtual machine with IE9 on Win7 and it works here.

[2015-02-23 14:33] mtoma commented on #49
Could you also follow this tutorial to ensure zonemaster.net is not listed as a site for "IE's compatibility mode".
http://www.sevenforums.com/tutorials/1196-internet-explorer-compatibility-view-turn-off.html

[2015-02-23 14:59] mtoma opened #73 "Add the front-end identification to the parameters"

[2015-02-23 15:21] ErikaOlsson commented on #49
![ie zm](https://cloud.githubusercontent.com/assets/9248938/6330370/ee0bd0da-bb77-11e4-99e1-c53ab6b2ec0c.png)
I have tried again and also asked Einar to check it, still not working for me, please see attached.

[2015-02-23 15:30] mtoma commented on #49
Ok, everything seems normal.
I'm unable to reproduce this here.
Could you please enable Script debugging for your browser?
In the English version it is:
Options (Shortcut ALT-X) -> Internet Options -> Advanced tab -> (Uncheck) Disable Script Debbuging (both checkboxes)
and reload the page with CTRL-R?

[2015-02-23 15:38] ErikaOlsson commented on #49
Done that, still not working for me. Can someone else try?

[2015-02-23 15:43] mtoma commented on #49
You should be able to see some kind of error messages in dialog boxes. Do you see something?
Can you also explicitly clear the browser history with Internet Options (ALT-X) -> General Tab -> Browsing History -> Check all Items -> Delete

[2015-02-23 19:52] #73 closed

[2015-02-23 21:52] mtoma opened #75 "Disable the "make install" target in makefiles"

[2015-02-23 22:03] #75 closed

[2015-02-24 07:56] pawal opened #77 "Fix the "make install" target in Makefile"
See #75.

[2015-02-24 08:14] mtoma commented on #77
Are we still planning to help packagers package the zonemaster backend and frontend modules or did something change and we are planning to offer a fully automatic installation?

[2015-02-24 11:17] mtoma opened #78 "Version change from 1.0.0 to 1.0.1 for release 2015.1"

[2015-02-24 14:59] pawal opened #80 "Install new engine on the machine running zonemaster.net"
There has been a new release of the engine fixing a number of things. Please install version 1.0.2 on the machine running zonemaster.net.

https://github.com/dotse/zonemaster-engine/releases

Full changelog is here:
https://github.com/dotse/zonemaster-engine/blob/master/Changes

[2015-02-24 15:58] mtoma commented on #80
Done

[2015-02-24 16:03] mtoma commented on #80
The version displayed on the website is still 1.0.0 as it is hardcoded until we decide on the global subversion strategy.
Shoul I change this to something else? 1.0.1? 1.0.2? 2015-01?

[2015-02-26 08:23] sandoche2k commented on #80
Can we have a change log for backend and GUI as here : https://github.com/dotse/zonemaster-engine/blob/master/Changes

For the versioning, you can add it as follows 1.0.2 DD Month YY.

[2015-02-26 08:24] pawal commented on #80
Please use ISO 8601 of you plan to use date formats.

[2015-02-26 10:38] cdybedahl opened #81 "That doesn't look right"
Necronomicon-II:~% curl http://zonemaster.net/resolve\?data=www.google.com
 {"result":[{"www.google.com":"74.125.140.99"},{"www.google.com":"74.125.140.147"}, {"www.google.com":"74.125.140.104"},{"www.google.com":"74.125.140.106"},{"www.google.com":"74.125.140.105"},{"www.google.com":"74.125.140.103"},{"www.google.com":"2a00:1450:400c:c08:0:0:0:67"}]}

 Necronomicon-II:~% curl http://zonemaster.ne

[2015-02-26 11:36] mtoma commented on #81
Is there a normal use-case for this somewhere/somehow?

[2015-02-26 11:42] cdybedahl commented on #81
I stumbled on it while trying to figure out how the GUI works. Working fine for one name and crashing for another that has no obvious difference means that there is a problem _somewhere_ in the code. Unless you figure out where and what it is, you have no idea if it's going to happen during ordinary use or not. Also, the use for that service may well be extended at some point in the future.

[2015-02-26 16:21] sandoche2k opened #82 "Remove the contents of Zonemaster-Dancer and movie it to the parent Zonemaster-GUI directory"
As now we have zeroed on to a single GUI, do we need a specific directory "Zonemaster-Dancer"?

[2015-02-26 16:31] mtoma commented on #82
We don't need it but if it is there it adds an information to the potential user.
Plus there is another frontend in the works, I'll demonstrate it next week. Not sure if this is something we want to put into github or not.

[2015-02-27 07:51] cdybedahl commented on #82
When did we decide to write a new one? Is that decision something I missed because I couldn’t come to the meeting in Paris?

—
Calle Dybedahl
calle.dybedahl@init.se

[2015-02-27 08:12] mtoma commented on #82
No, it is not a decision. It is an optional suggestion, you didn't miss anything.
I wrote a small Twitter-Bot frontend for Zonemaster that will answer tweets sent to the @ZonemasterNet account with results of a Zonemaster test and a link to the detailed results on zonemaster.net.

It should be online today for testing purposes.

If we think this is something useful than we can keep it and add it t

[2015-02-27 09:06] sandoche2k commented on #82
Twitter-Bot is a good idea. Please add it to the wishlist.

Regarding the new Client GUI; i think we have to make the existing stable.
There should be only one interface as part of the zonemaster-gui component.

Regarding the directory modification, i think we have to follow certain
best practices. Previous experience suggests that the DNS community, which
is our main target audience, is very stri

[2015-02-27 09:31] mtoma commented on #82
Hello Sandoche,

It seems I didn't make myself understand clearly.
The twitter bot is nearly finished, id did it during the DNSSEC training we had with Stephane. What is remaining will not be written in the Zonemaster time-sheets. I'll do it on my own spare time.

There is no other "new Client GUI" in works anywhere. The twitter bot IS the additional client GUI, that should be put in the zonemaste

[2015-02-27 09:37] pawal commented on #82
Please keep it in another personal repository until it has been adopted by the project.

However, even if it is adopted by the project, it should not be part of the GUI repository, unless it depends on it entirely. My guess is that it only depends on the backend - so it should probably be kept in another repository anyway.

[2015-02-27 10:01] mtoma commented on #82
No worries, Patrik. I wont keep it in any repository until the decision is made by the project to adopt it.
It could be kept in another repository as well. But having one repository for one file of a few hundred lines of code seems a little over dimensioned for me.
My personal options is to keep everything that objectively is a GUI in the zonemaster-gui repository.

----- Original Message -----
Fr

[2015-02-27 15:22] cdybedahl opened #83 "Maintainer documentation needed"
The GUI really needs documentation describing what functionalities are implemented where and how. It's not obvious what functionality is implemented on the Perl side and what is in AngularJS code. In between the double layers of templating, the AJAX calls and the AngularJS directives, it's difficult to know how things fit together. Documentation describing the control flow and data manipulation wo

[2015-03-02 07:25] sandoche2k commented on #82
Thanks for the clarification.

Do you want it (twitter bot) to be added as part of the Survey
questionnaire?

Sandoche.

On 27 February 2015 at 10:31, mtoma <notifications@github.com> wrote:

[2015-03-02 08:20] mtoma commented on #82
Yes, that might be a good idea, yes.

----- Original Message -----
From: "sandoche2k" <notifications@github.com>
To: "dotse/zonemaster-gui" <zonemaster-gui@noreply.github.com>
Cc: "mtoma" <michal.toma@afnic.fr>
Sent: Monday, March 2, 2015 8:25:28 AM
Subject: Re: [zonemaster-gui] Remove the contents of Zonemaster-Dancer and movie it to the parent Zonemaster-GUI directory (#82)

Thanks for the clari

[2015-03-03 14:54] mtoma opened #84 "Internationalization of error messages"
All JavaScript alerts are in English only.
ex: test afn_ic.fr in the user interface

[2015-03-04 12:20] sandoche2k opened #85 "Zonemaster-GUI shows errors for the zones that are not signed with DNSSEC"
http://zonemaster.net/test/5120

[2015-03-04 12:29] sandoche2k opened #86 "while testing gouv.fr the response is "Domain does not exist" which is not true"
The response from the CLI is : 0.20 CRITICAL  Nameservers for "fr" provided no NS records for tested zone. RCODE given was NOERROR.
   0.21 CRITICAL  Not enough data about gouv.fr was found to be able to run tests.

From DNSCHECK "http://dnscheck.iis.se/?time=1418292987&id=4423656&view=basic&test=standard"
From DNSViz : http://dnsviz.net/d/gouv.fr/dnssec/
From ZC : http://www.afnic.fr/outils/zonec

[2015-03-04 12:48] bortzmeyer commented on #86
Seems to be a general problem with ENTs. For instance, testing e.0.1.0.a.2.ip6.arpa yields the same erroneous message.

[2015-03-04 12:50] bortzmeyer commented on #85
And three errors, while the cause is the same (no signature).

[2015-03-04 13:27] cdybedahl commented on #86
The messages are strictly correct. The test engine does not get any NS records for those names, so it doesn't have enough data to run any tests. What's not working here is the translation from that to human language. Perhaps we should add a "that's not a domain" message after all.

[2015-03-04 14:23] bortzmeyer commented on #86
The raw messages are correct but the erroneous "domain does not exist" come from the Twitter gateway. https://twitter.com/ZonemasterNet/status/573054810565578752

[2015-03-04 14:25] cdybedahl commented on #86
Ah. I don't know if @mtoma has set up anywhere to submit bug reports for that.

[2015-03-04 14:37] mtoma commented on #86
There is no place to submit bugs for the Twitter Bot as it maps exactly to the behavior of the "Domain Check" tab of the GUI. The GUI does give exactly the same error message when testing gouv.fr and it is the result of the "preflight" test of the "Domain Check" tab. The preflight test fetches the NS records for the domain and does not find any and thus refuses to start the test. The message is no

[2015-03-04 14:38] mtoma opened #87 "when testing gouv.fr in the "Undelegated domain check" tab the message the user receives when pressing the "Fetch data from parent zone" is wrong."

[2015-03-04 14:49] bortzmeyer commented on #86
The test is simple : query the NS RRset. If NXDOMAIN, "domain does not exist". If NODATA (NOERROR/ANSWER=0), "domain exists but is not a zone". Otherwise, "domain exists and is a zone".

If SERVFAIL or other errors, "something wrong happened". For DNSSEC-signed domains, the query should be done with CD=1 so the testing can continue.

[2015-03-04 14:56] mtoma commented on #86
Ok, this seems perfect. I'll chenge this in the backend.

[2015-03-05 09:40] pawal commented on #37
What is the status on this @mtoma?

[2015-03-05 12:48] pawal opened #89 "Test identifiers should not be enumerable"
Today the unique identifies of a test are numbers in sequence. This makes it easy for an external party to enumerate all tests, for example to find out the results of previous tests or to find out the usage of the external interfaces we have (web, twitter, whatever). It might also be an interesting way to increase the load of the web service if this is abused.

In order to avoid this we should cha

[2015-03-05 12:57] pawal commented on #57
We decided to remove any tests that might cause a user to see a broken web interface.

[2015-03-13 10:39] mtoma commented on #57
All test results with id<1000 were archived and deleted from the main table.

[2015-03-13 10:39] #57 closed

[2015-03-13 16:27] mtoma opened #92 "Add the Changelog file describing the issues fixed in each release"

[2015-03-13 16:30] #92 closed

[2015-03-17 13:53] sandoche2k commented on #78
Can you check and close the issue @mtoma

[2015-03-17 13:53] sandoche2k commented on #80
Please check and close the issue @mtoma

[2015-04-08 10:05] sandoche2k opened #99 "zonemaster.net broken"
@Michal While testing a domain, there is a message that says "Cant run test" and on clicking "Ok" there is a loop

[2015-04-09 11:33] sandoche2k commented on #56
@MTO could be closed

[2015-04-09 11:33] #69 closed

[2015-04-09 11:34] sandoche2k commented on #46
@pawal move to priority high (5th position in the survey)

[2015-04-09 11:44] sandoche2k commented on #54
@pawal move to priority low (Survey results)

[2015-04-13 08:51] pawal commented on #99
Is this fixed? Should we have operational issues here in Github?

[2015-04-13 12:10] pawal commented on #55
From https://github.com/dotse/zonemaster/issues/137:

Closing https://github.com/dotse/zonemaster/issues/137 now.

[2015-04-14 08:23] #80 closed

[2015-04-14 08:23] pawal opened #101 "Install new"
There has been a new release of the engine fixing a number of things. Please install version 1.0.3 on the machine running zonemaster.net.

https://github.com/dotse/zonemaster-engine/releases

Full changelog is here:
https://github.com/dotse/zonemaster-engine/blob/master/Changes

[2015-04-14 08:32] pawal commented on #42
Stalled, waiting for https://github.com/dotse/zonemaster/issues/324

[2015-04-14 09:36] sandoche2k commented on #99
Fixed

[2015-04-14 09:36] #99 closed

[2015-04-14 13:52] mtoma commented on #101
Done

[2015-04-14 13:52] #101 closed

[2015-04-21 12:02] amelsec commented on #37
I really urge you to fix https on zonemaster asap. It is embarrasing to promote zonemaster while I am promoting https everywhere during my presentations. I ALWAYS get that comment "You tell us to use https everywhere, but zonemaster doesn't, why?" It was noticed in december. Now we have April. It is not that difficult. I would really want to get an update of where we stand on this, and a time when

[2015-04-27 13:47] #30 closed

[2015-04-27 13:47] #55 closed

[2015-04-27 13:47] #68 closed

[2015-04-27 13:47] #77 closed

[2015-04-27 13:47] #81 closed

[2015-04-27 13:47] #82 closed

[2015-04-28 15:50] mtoma opened #103 "Add contact e-mail to the interface"

[2015-04-29 14:16] #103 closed

[2015-05-11 13:17] mtoma opened #105 "Release of version 1.0.2 of the zonemaster-gui module"

[2015-05-11 13:38] #105 closed

[2015-05-12 08:07] pahi commented on #56
Close this ticket?

[2015-05-12 11:56] bortzmeyer commented on #56
@pahl Of course not, the problem is still there.

[2015-05-17 15:01] sandoche2k commented on #89
@mtoma - is it a backend issue? Can you check this and comment
@pawal - please assign this issue to @mtoma  and the  miletsone to 2015.2

[2015-05-17 15:02] sandoche2k commented on #87
@mtoma - comment on this issue
@pawal - assign to @mtoma and milestone to 2015.3

[2015-05-17 15:06] sandoche2k commented on #86
@mtoma - i think i still have the issue because you have not yet updated the server to the latest release.
@pawal - Assign to @mtoma
@mtoma - this should be for release .3

[2015-05-17 15:09] sandoche2k commented on #85
@pawal assign it to @mtoma and for release .3

[2015-05-17 15:10] sandoche2k commented on #84
@pawal assign to @mtoma and for release .4

[2015-05-17 15:11] sandoche2k commented on #83
@pawal - assignee @mtoma and to release .2

[2015-05-17 15:12] sandoche2k commented on #78
@mtoma - HIGH PRIORITY - please update to current release ASAP

[2015-05-17 15:13] sandoche2k commented on #62
@pawal - pls. move it to release .3

[2015-05-17 15:15] sandoche2k commented on #56
@pawal assignee @mtoma and for release .2

[2015-05-17 15:16] sandoche2k commented on #54
@pawal pls. move to Icebox

[2015-05-17 15:19] sandoche2k commented on #48
@pawal - pls. move it to release .4

[2015-05-17 15:20] sandoche2k commented on #47
@pawal - pls. move it to release .4

[2015-05-17 15:21] sandoche2k commented on #46
@pawal - pls. move it to release .3

[2015-05-17 15:22] sandoche2k commented on #42
@pawal - pls. move it to release .3

[2015-05-17 15:24] sandoche2k commented on #41
@pawal - pls. move it to release .4

[2015-05-17 15:27] sandoche2k commented on #40
@pawal - pls. move it to .4

[2015-05-17 15:28] sandoche2k commented on #39
@pawal assignee @mtoma and for release .4

[2015-05-17 15:29] sandoche2k commented on #37
@pawal for release .2

[2015-05-17 15:29] sandoche2k commented on #32
@pawal for release .4

[2015-05-17 15:30] sandoche2k commented on #29
@pawal pls. move this for release .3

[2015-05-17 16:16] pawal commented on #78
Version has already been changed to 1.0.2 and has been release in milestone 2015.1. See the Wiki page: https://github.com/dotse/zonemaster/wiki/Zonemaster-Distribution-Releases

[2015-05-17 16:16] #78 closed

[2015-05-17 16:22] pawal commented on #37
This hopefully should not require a code change, and thus not being targeted for any release.

We have been waiting 6 months for this now.

[2015-05-17 19:24] sandoche2k commented on #37
Michal has already initiated the issue with our IT dept.

We hope to get this done ASAP.

On 17 May 2015 at 18:22, Patrik Wallström <notifications@github.com> wrote:

[2015-05-18 08:50] mtoma commented on #89
Yes this is a backend issue.
It requires about 2 days of work.

----- Original Message -----
From: "sandoche2k" <notifications@github.com>
To: "dotse/zonemaster-gui" <zonemaster-gui@noreply.github.com>
Cc: "mtoma" <michal.toma@afnic.fr>
Sent: Sunday, May 17, 2015 5:01:41 PM
Subject: Re: [zonemaster-gui] Test identifiers should not be enumerable (#89)

@mtoma - is it a backend issue? Can you check

[2015-05-18 08:51] mtoma commented on #87
This one is fixed and can be closed.

----- Original Message -----
From: "sandoche2k" <notifications@github.com>
To: "dotse/zonemaster-gui" <zonemaster-gui@noreply.github.com>
Cc: "mtoma" <michal.toma@afnic.fr>
Sent: Sunday, May 17, 2015 5:02:48 PM
Subject: Re: [zonemaster-gui] when testing gouv.fr in the "Undelegated domain check" tab the message the user receives when pressing the "Fetch data fr

[2015-05-18 08:52] mtoma commented on #86
This one is fixed. The release is just not online yet.

----- Original Message -----
From: "sandoche2k" <notifications@github.com>
To: "dotse/zonemaster-gui" <zonemaster-gui@noreply.github.com>
Cc: "mtoma" <michal.toma@afnic.fr>
Sent: Sunday, May 17, 2015 5:06:03 PM
Subject: Re: [zonemaster-gui] while testing gouv.fr the response is "Domain does not exist" which is not true (#86)

@mtoma - i think

[2015-05-18 08:53] mtoma commented on #78
It is done. It needs to be put online on the server.

----- Original Message -----
From: "sandoche2k" <notifications@github.com>
To: "dotse/zonemaster-gui" <zonemaster-gui@noreply.github.com>
Cc: "mtoma" <michal.toma@afnic.fr>
Sent: Sunday, May 17, 2015 5:12:44 PM
Subject: Re: [zonemaster-gui] Version change from 1.0.0 to 1.0.1 for release 2015.1 (#78)

@mtoma - HIGH PRIORITY - please update to cu

[2015-05-21 11:12] pawal opened #107 "More on "Domain does not exist""
For domains that do exists, where the parent has NS records for the domain - but the child servers give SERVFAIL, Zonemaster should not say "Domain does not exist" - it is a CRITICAL error for the domain and should be displayed as such.

The CLI says this which is more verbose:

Seconds Level     Message
======= ========= =======
   0.95 ERROR     Nameserver ns1.example.com/123.123.123.123 did not

[2015-05-21 14:59] sandoche2k opened #108 "Input field not visible on GUI (MAC/Chrome Version 42.0.2311.152 (64-bit))"
![image](https://cloud.githubusercontent.com/assets/5484470/7751508/b695b7a4-ffda-11e4-8985-d6fd29baa224.png)

[2015-05-21 15:03] sandoche2k commented on #108
It works now

[2015-05-21 15:03] #108 closed

[2015-05-22 07:25] pawal commented on #108
Not to reopen the issue, but if it happens again you should also post the javascript console log.

[2015-05-22 07:28] sandoche2k commented on #108
Netxt time it happens for me, i will do that.

[2015-05-28 16:59] mtoma opened #109 "When using Apache as a frontend server and starman as a proxy backend the IP addresse is not available and thus not displayed correctly"

[2015-06-01 06:22] cdybedahl commented on #109
Assuming that you're using mod_proxy, the original IP address and hostname the client requested are available as the X-Forwarded-For and X-Forwarded-Host HTTP headers. See http://httpd.apache.org/docs/2.4/mod/mod_proxy.html#x-headers

[2015-06-03 10:15] einar opened #111 "Non-existing test link generates Internal Server Error"
...it should probably say something more in the line of "test not found" or something like that.

For example: "http://zonemaster.net/test/123456789".

[2015-06-03 10:18] pawal commented on #111
Even though there is an error such as 500, a 404 such as this displays the same kind of page:
http://zonemaster.net/foo/1239

We should probably have a custom page for this, rather than using the Dancer default HTML exposing unnecessary info on our framework.

[2015-06-04 06:11] sandoche2k commented on #107
@mtoma can you have a look at ths?

[2015-06-04 06:12] sandoche2k commented on #85
@mtoma ?

[2015-06-04 10:20] cdybedahl commented on #29
Looking at this case, it seems to consist of or raise some sub-cases.

1) Change the Engine API to allow adding fake DS records without specifying a key tag. In this case, the engine should use a random 16-bit integer value as the key tag.

2) The specification for test case dnssec02 is (I think) faulty, it should not require the key tag of the DS to match that of any DNSKEY. Only the cryptographi

[2015-06-04 11:12] pawal commented on #29
If I remember our discussions correctly, yes, this is the way we proposed it.

I really wish that Github could create dependencies between the issues. As for now, I could create the issue for step 1 here.

[2015-06-04 11:19] cdybedahl commented on #29
Steps one and two are independent, so you could create those at the same time. Step one is fairly useless without step three, since it will only have one chance in 2^16 to pick the right key tag, but it doesn't hurt to have it implemented.

[2015-06-04 16:38] mtoma commented on #107
This is way too complex to be caught by the simple preflight test. If we need this level of analysis before deciding if a domain is valid or not I agree with Calle's suggestion to use Zonemaster to determine if a domain can be tested or not.

[2015-06-08 10:21] cdybedahl commented on #107
Should be fixed with dotse/zonemaster-backend@91cc586e4e5a66c421b15090167ad920f23f4d81.

[2015-06-08 10:21] #107 closed

[2015-06-08 10:42] #87 closed

[2015-06-08 12:57] sandoche2k commented on #86
@mtoma Can you make a release with current fixes?

[2015-06-08 13:03] mtoma commented on #86
No, no release will be done unless it passes a set of non regression tests.

----- Original Message -----
From: "sandoche2k" <notifications@github.com>
To: "dotse/zonemaster-gui" <zonemaster-gui@noreply.github.com>
Cc: "mtoma" <michal.toma@afnic.fr>
Sent: Monday, June 8, 2015 2:57:37 PM
Subject: Re: [zonemaster-gui] while testing gouv.fr the response is "Domain does not exist" which is not true (#

[2015-06-09 08:12] cdybedahl commented on #89
As a possible quick fix, [this posting from Stack Overflow](http://stackoverflow.com/questions/20890129/postgresql-random-primary-key) explains how to use a Feistel network to make random-appearing primary keys in PostgreSQL. The advantage is that the generated keys are still integers, so the code using them should not need to care (unless there is something somewhere that requires the keys to be

[2015-06-09 15:50] mtoma opened #113 "Add user geolocation support"

[2015-06-09 16:36] #109 closed

[2015-06-09 16:36] #113 closed

[2015-06-09 17:03] mtoma opened #115 "Change version of frontend to 1.0.2_01"

[2015-06-09 17:10] #115 closed

[2015-06-09 17:26] sandoche2k commented on #37
@mtoma could be closed?

[2015-06-09 18:21] #37 closed

[2015-06-09 18:21] mtoma commented on #37
The new certificate with the zonemaster.net domain is installed.

[2015-06-09 18:23] mtoma commented on #89
Could we agree on a half-md5 hash as random identifiers for the tests?

[2015-06-09 19:04] jschlyter commented on #37
Redirect from http to https seems missing, as well as HSTS header.

[2015-06-10 10:02] sandoche2k commented on #86
@mtoma  works in your bleeding edge version :-)

[2015-06-11 10:21] mtoma commented on #37
Can you check it now please? @jschlyter

[2015-06-11 10:49] jschlyter commented on #37
Good!

[2015-06-18 08:38] sandoche2k commented on #56
@mtoma can you finish and close this

[2015-06-18 08:43] sandoche2k commented on #83
@mtoma - This is part of the release 2015.2. Can you have a look at this issue?

[2015-06-23 08:11] sandoche2k commented on #89
Discussed during the meeting - Agree with Michal's suggestion.. You can implement.

[2015-06-23 08:11] pawal commented on #89
As PostgreSQL method:
http://stackoverflow.com/questions/12575022/generating-an-instagram-or-youtube-like-unguessable-string-id-in-ruby-activerec

[2015-06-23 08:47] #56 closed

[2015-06-23 09:49] sandoche2k commented on #86
@bortzmeyer Can you check with http://zonemaster.fr:5080 and respond whether you are satisfied with the result?

[2015-06-23 09:52] sandoche2k commented on #85
@mtoma Verified during the meeting. You can close this issue.

[2015-06-23 09:55] sandoche2k commented on #83
Basic documentation to be done by @mtoma
Then, work with @mattias-p and @sandstrand  to complete this issue.

[2015-06-23 09:58] bortzmeyer commented on #86
I find the messages hard to understand, specially the second one:

 Not enough data about gouv.fr was found to be able to run tests.
Nameservers for "fr" provided no NS records for tested zone. RCODE given was NOERROR.

[2015-07-01 11:33] sandoche2k opened #117 "History not clickable"
The link for the domain test "history" is not clickable

[2015-07-30 19:40] tobbe-eklov opened #118 "skinnskatteberg.se"
Hello.
If you test skinnskatteberg.se it takes hours.

/Tobbe

[2015-07-31 07:37] sandoche2k commented on #118
Hi Tobbe,

  Thanks for your message.

  We did identify there is an issue in Zonemaster where even when certain
nameservers for a domain does not respond, Zonemaster tends to run all the
remaining tests. I have assigned this issue as priority to be solved.

  Since this is holiday period thanks for expecting a delay to having this
solved.

Sandoche.

On 30 July 2015 at 21:40, Torbjorn Eklov <noti

[2015-08-13 06:12] sandoche2k commented on #118
@vlevigneron seems to be the result of this issue : https://github.com/dotse/zonemaster-engine/issues/96

[2015-08-13 08:41] sandoche2k commented on #117
Similar to as the "history" in dnscheck.iis.se"

[2015-09-14 12:37] sandoche2k commented on #118
Hi @tobbe-eklov ,

  The issue has been fixed.

[2015-09-14 12:37] sandoche2k commented on #118
@mtoma  close ?

[2015-09-14 12:37] sandoche2k commented on #89
@mtoma please fix this issue.

[2015-09-14 13:12] mtoma commented on #118
Can be closed.

----- Original Message -----
From: "sandoche2k" <notifications@github.com>
To: "dotse/zonemaster-gui" <zonemaster-gui@noreply.github.com>
Cc: "mtoma" <michal.toma@afnic.fr>
Sent: Monday, September 14, 2015 2:37:12 PM
Subject: Re: [zonemaster-gui] skinnskatteberg.se (#118)

@mtoma close ?

—
Reply to this email directly or view it on GitHub .

[2015-09-14 13:18] #118 closed

[2015-09-22 14:08] sandoche2k commented on #86
@bortzmeyer - Can this issue be closed?

[2015-09-22 14:41] bortzmeyer commented on #86
OK, on the version of the Web site, the answer is correct.

[2015-09-24 07:05] mtoma opened #121 "Change FAQ Link to the new repository"
Change FAQ Link to the new repository

[2015-09-24 09:18] #89 closed

[2015-09-28 10:11] mtoma opened #123 "Add a Docker image with a packaged and ready to use GUI+Backend+Engine"
Add a Docker image with a packaged and ready to use GUI+Backend+Engine

[2015-09-28 13:12] #86 closed

[2015-09-28 13:13] #85 closed

[2015-09-28 13:23] #121 closed

[2015-09-29 12:52] pawal opened #125 "Update the Zonemaster logotype"
.SE has changed name to IIS. Please update the logotype on the website zonemaster.net. Updated logotypes can be found here:
https://github.com/dotse/zonemaster/tree/master/docs/images

[2015-10-07 08:32] sandoche2k commented on #125
@MTO - Pls. update with the new logo

[2015-10-08 12:38] pawal commented on #29
See #62.

[2015-10-08 12:38] #29 closed

[2015-10-08 12:38] sandoche2k commented on #62
@mtoma

Implement with four fields

[2015-10-08 12:39] sandoche2k commented on #117
@MTO - implementation needed ...

[2015-10-08 12:52] sandoche2k commented on #46
@mtoma  Click on “Export” the content that we see in “Advanced section” will be displayed in separate web page

[2015-10-19 10:22] sandoche2k opened #128 "FAQ link missing"
FAQ link missing in the GUI

[2015-10-23 07:57] mtoma opened #129 "Increase version to 1.0.4"

[2015-10-23 10:36] mtoma commented on #128
Can I have more explanations on this issue?
Where is the missing link?
(http://zonemaster.re:5080)

[2015-10-23 10:38] sandoche2k commented on #128
When you press on the menu FAQ in zonemaster.net

On 23 October 2015 at 12:36, mtoma <notifications@github.com> wrote:

[2015-10-23 10:51] #129 closed

[2015-10-23 10:59] mtoma commented on #128
Isn't is fixed on the pre-production environment?

[2015-10-23 12:11] sandoche2k commented on #128
The issue concerned is the production environment (zonemaster.net)

On 23 October 2015 at 12:59, mtoma <notifications@github.com> wrote:

[2015-10-28 19:24] sandoche2k commented on #128
The current version has the FAQ

[2015-10-28 19:24] #128 closed

[2015-11-09 08:13] sandoche2k opened #131 "Typo in the french FAQ"
https://zonemaster.net/ / FAQ "Zonemaster est un outil qui a été créé dans le but d'aider au diagnostique" It should be "diagnostic" at the end.

[2015-11-10 05:29] #125 closed

[2015-11-12 08:16] mtoma opened #133 "The link from the nojs interface to the JS interface is wrong"
The link has a localhost:81 host.

[2015-11-13 17:20] #133 closed

[2015-11-13 17:20] #117 closed

[2015-11-16 08:01] sandoche2k commented on #117
@mtoma  - the issues seems not be fixed in the test environment also. Is there a merge to be done?

[2015-11-19 11:37] mtoma commented on #62
Could I have a full zonemaster command line example of a test with a DS record related options please?

[2015-11-19 13:51] sandoche2k commented on #62
To obtain the DS
dig +short DS grepular.com
30528 7 1 FB9A057A114268C19EE47A69417E63203A149F06

To run in the ZM CLI

zonemaster-cli --ds 30528,7,1,FB9A057A114268C19EE47A69417E63203A149F06 grepular.com
Seconds Level     Message
======= ========= =======
   2.24 NOTICE    Nameserver snake.grepular.com has an IP address (87.81.168.104) with mismatched PTR result (5751a868.skybroadband.com.).
   4.84

[2015-11-19 16:01] mtoma commented on #62
Where whould we like to see dropdown lists?

----- Original Message -----
From: "sandoche2k" <notifications@github.com>
To: "dotse/zonemaster-gui" <zonemaster-gui@noreply.github.com>
Cc: "mtoma" <michal.toma@afnic.fr>
Sent: Thursday, November 19, 2015 2:51:15 PM
Subject: Re: [zonemaster-gui] Enable DS records in the interface (#62)

To obtain the DS
dig +short DS grepular.com
30528 7 1 FB9A057A114

[2015-11-19 16:15] sandoche2k commented on #62
Under "Digests" under the menu  "pre-delegated domain"

On 19 November 2015 at 17:01, mtoma <notifications@github.com> wrote:

[2015-11-19 22:45] mtoma commented on #62
Yes  of course.
My question as more about the algorithm and digest type fields.
After reading this: https://www.ietf.org/rfc/rfc4034.txt
It seems only one digest type is supported as of now.
Is there a real need to allow to select the digest type as (as of now) there is only one digest type supported (§A.2.  DNSSEC Digest Types of the rfc4034)?

[2015-11-20 12:29] sandoche2k commented on #62
![image](https://cloud.githubusercontent.com/assets/5484470/11299877/b79f6768-8f8a-11e5-8ccc-30b1d3489a68.png)

[2015-11-20 12:30] sandoche2k commented on #62
@mtoma above figure for an example. We need the digest type since the code needs it. And, i am not sure whether there is support for only one digest type as you can see from the above figure.

[2015-11-20 13:47] mtoma commented on #62
Yes, strange, the RFC seems to state that there is only one supported but your screen capture offers two.
Ok then I'll code it with two dropdown lists one for the algorithm and one for the digest type as your screen capture shows it.

[2015-11-20 13:52] mtoma commented on #62
Ok those two seem more up to date.
I'll base the devs on those:
http://www.iana.org/assignments/ds-rr-types/ds-rr-types.xhtml
http://www.iana.org/assignments/dns-sec-alg-numbers/dns-sec-alg-numbers.xhtml

[2015-11-20 14:36] pawal commented on #62
The best would be to ask the engine what it supports, to avoid double code for all algorithms. But for now use the IANA registry.

[2015-11-20 14:43] mtoma commented on #62
Do we have some command line option that can be used to ask the engine to list the supported algorithms?

[2015-11-20 14:47] pawal commented on #62
There is no support at all to query the engine for what it implements. Good future idea though.
You can only export the policy and list test cases.

[2015-11-22 08:00] mtoma commented on #62
Swedish translations needed:
,"Key Tag"								:"Identifiant"
,"Algorithm"								:"Algorithme"
,"Digest type"								:"Drapeaux"
,"Digest"									:"Clé publique"

[2015-11-25 08:40] #131 closed

[2015-11-25 09:02] mtoma commented on #62
Closed with
https://github.com/dotse/zonemaster-gui/commit/f1870061fcf3a28e088408081eeda948f508c69d

[2015-11-25 09:02] #62 closed

[2015-11-25 09:30] #46 closed

[2015-11-26 08:23] sandoche2k opened #141 "Error in the engine while testing "oxynux.fr""
https://www.zonemaster.net/test/d93bc59a69ebfae6

"SYSTEM" :
"Erreur fatale dans le module Zonemaster::Test::Connectivity: Can't
use an undefined value as an ARRAY reference at
../zonemaster-engine/lib/Zonemaster/Test/Connectivity.pm line 294."

[2015-11-26 16:39] mtoma opened #142 "Javascript crash after the test result is displayed"
After test results are displayed the console reports the following error and javascript crashes.

"Error: [$parse:syntax] http://errors.angularjs.org/1.2.22/$parse/syntax?p0=ang&p1=is%20an%20unexpected%20token&p2=2&p3=%2Fang%2Fdomain_check&p4=ang%2Fdomain_check
w/<@http://localhost:5080/components/angular/angular.min.js:6:450
db.prototype.throwError@http://localhost:5080/components/angular/angular

[2015-11-27 17:08] #42 closed

[2015-11-27 17:08] #142 closed

[2015-12-03 07:59] sandoche2k commented on #141
Fixed : https://zonemaster.net/test/a66031d1f6f1063f

[2015-12-03 07:59] #141 closed

[2015-12-07 08:36] einar commented on #48
Hmm, well DNSCheck handles it well and currently (for example) IIS.SE has 2,820 tests accessible with the first ones logged in 2008. I cant see any reason why we should NOT have this, it should have been in 1.0 as a feature and requirement from DNSCheck. But move/postpone it anyways.

[2015-12-10 09:01] mtoma opened #146 "Redirect Dancer log messages to the console"
Redirect Dancer log messages to the console

[2015-12-10 09:05] #146 closed

[2016-02-05 10:01] mtoma opened #150 "Rewrite the interface in Angular2"
Angular1 is being deprecated and Angular2 will have its first release.
The interface should be rewritten in Angular2 for future maintainability.

[2016-02-05 11:01] pawal commented on #150
Given that Angular 2 has not even been released yet, it will be at least couple of years until version 1.x is being deprecated.

[2016-02-28 16:54] bortzmeyer opened #152 "The non-Javascript interface tries to pull the CSS from localhost..."
In the source of `https://zonemaster.net/nojs`, we find:

[code]

[2016-03-16 06:23] sandoche2k opened #153 "Dark-green background options in the GUI"
From Witold Kręcick

I'm wondering why the summary does not mention that the reported values
under it are on a dark green background - as I understand that means
'problematic but below warning' (eg. AXFR allowed, or no DNSSEC). If I'm
seeing a green 'check' by eg. DNSSEC for me that means everything is OK
with DNSSEC - which is misleading and confusing, as that can also mean
that there's no DNSSEC

[2016-03-22 13:14] sandoche2k opened #154 "Adding color coding"
1. Notice should be Yellow
2. Warning should be Orange
3. Error should be Red
4. Info should be light blue

Change the color for the different policy level.

Also, when the user moves the cursor to different policy levels, he should have an idea what the policy states.

Notice -  means something that should be known by the zone's administrator but that need not necessarily be a problem at all.
War

[2016-03-22 13:37] mtoma opened #155 "Display the category DNSSEC in grey when the DNSSEC is not used"
Display the category DNSSEC in grey when the DNSSEC is not used

[2016-03-22 13:39] mtoma commented on #155
Needs a very clear explanation of how to determine that the DNSSEC is not used.

[2016-03-22 13:45] pawal commented on #155
The NEITHER_DNSKEY_NOR_DS can be used to determine that neither record is present.

[2016-03-23 11:32] #123 closed

[2016-03-24 10:24] mtoma opened #157 "Date of test must be created from an UTC date"
Date of test must be created from an UTC date:
new Date(Date.UTC(year, month, day, hour, minute, second))

[2016-05-05 18:33] mtoma opened #158 "Drop Starman dependency and run in CGI only mode to ease packaging"
Drop Starman dependency and run in CGI only mode to ease packaging

[2016-05-12 22:56] aabdnn opened #159 "Publish to CPAN"
Is it possible make a release tarball of the gui and publish it to cpan please?

[2016-05-13 08:23] sandoche2k commented on #159
Same response as for the backend

On 13 May 2016 at 00:56, Anand Buddhdev <notifications@github.com> wrote:

[2016-05-16 12:09] matsduf opened #160 ""perl Makefile.PL" returns warnings on missing files"
$ perl Makefile.PL
Checking if your kit is complete...
Warning: the following files are missing in your kit:
	docs/installation-instructions.md
	docs/zonemaster-frontend-installation-instructions.md
	MYMETA.json
	MYMETA.yml
	README
Please inform the author.
Writing Makefile for Zonemaster_Dancer
Writing MYMETA.yml and MYMETA.json

Two files are created (MYMETA.json and MYMETA.yml) but the other th

[2016-05-17 13:36] mtoma opened #161 "Publish the GUI to CPAN"

[2016-05-17 13:37] mtoma commented on #159
Issue on github created.
Will be published on CPAN.

----- Original Message -----
From: "Anand Buddhdev" <notifications@github.com>
To: "dotse/zonemaster-gui" <zonemaster-gui@noreply.github.com>
Sent: Friday, May 13, 2016 12:56:26 AM
Subject: [dotse/zonemaster-gui] Publish to CPAN (#159)

Is it possible make a release tarball of the gui and publish it to cpan please?

---
You are receiving this be

[2016-05-17 13:57] mtoma commented on #160
Hi Mats,

This will be fixed with the release of the GUI to CPAN.
(Issue created on github.)

Michal

----- Original Message -----
From: "matsduf" <notifications@github.com>
To: "dotse/zonemaster-gui" <zonemaster-gui@noreply.github.com>
Sent: Monday, May 16, 2016 2:09:35 PM
Subject: [dotse/zonemaster-gui] "perl Makefile.PL" returns warnings on missing files (#160)

$ perl Makefile.PL
Checking if y

[2016-08-09 10:31] aabdnn commented on #161
Any update on when it will be published to CPAN?

[2016-09-22 12:20] aabdnn commented on #161
When are you going to publish this to CPAN?

[2016-10-11 13:43] mtoma commented on #150
Drop the perl backend completly

[2016-10-11 13:44] mtoma opened #162 "Prepare for realase 1.0.7"

[2016-10-11 14:38] matsduf commented on #150
It does not look like Angular 1 is deprecated. I think we should structure Zonemaster before we create a new Zonemaster-gui.

[2016-10-11 16:28] #157 closed

[2016-10-11 16:33] mtoma commented on #150
It is not. But solving any new issue using Angular1 is a pure loss of time as it will have to be rewritten at some point thus this issue is a prerequisite to about any user interface issues to the gui.

[2016-10-11 16:36] mtoma commented on #158
Related to #150

[2016-10-11 16:55] #160 closed

[2016-10-12 08:53] mattias-p commented on #160
I'm still getting this:
[code]

[2016-10-12 09:01] sandoche2k commented on #160
check with cpan -i again whether the components are installed

On 12 October 2016 at 10:53, Mattias Päivärinta <notifications@github.com>
wrote:

[2016-10-12 09:26] mtoma commented on #160
Try again now Mattias

[2016-10-12 09:46] mattias-p commented on #160
@mtoma The complaint about README is gone now. The MYMETA complaints are still there, as well as the suggestion to inform the author.

Aren't those files supposed to be missing from the kit? They're being generated anyway. Should they be included in some ignore-file?

[2016-10-12 10:04] mtoma commented on #160
@mattias-p  Are you sure you checked out the latest version?
I did add them to MANIFEST.SKIP

Here is what I'm getting:

@mattias-p  Are you sure you checked out the latest version?
I did add them to MANIFEST.SKIP

Here is what I'm getting:
rm MYMETA.* && make manifest && perl Makefile.PL
Warning: prerequisite Dancer 1.3095 not found.
Warning: prerequisite Template 0 not found.
Warning: prerequisi

[2016-10-12 10:47] mattias-p commented on #160
@mtoma I'm checking 59e9739. Our commands are working under different assumptions. Mine is ensuring a completely clean working directory while yours is assuming a working directory with a Makefile. That accounts for our difference in outputs.

I believe the MYMETA files should be removed from the MANIFEST file. Read the "MANIFEST" and "MYMETA.json and MYMETA.yaml" sections in http://neilb.org/2015

[2016-10-12 11:06] mtoma commented on #160
Id did remove them from the MANIFEST file by adding them to MANIFEST.SKIP.
The regenerated MANIFEST is now committed as well. Hope it will solve the issue now.

[2016-10-12 11:36] mattias-p commented on #160
@mtoma Sweet. `perl Makefile.PL` has stopped nagging about contacting the author.

[2016-11-10 16:07] matsduf opened #173 "Make sending client IP optional"
The GUI send the client IP to the backend, which stores the information in the backend. Make that an optional feature, i.e. make it possible to configure the GUI so that the IP address is never sent to the backend.

If sending IP address is enabled, it could be considered to make it possible to let the user select if its IP address should be stored. Maybe that should be configurable for the GUI to

[2016-12-06 08:54] matsduf opened #174 "Do not use key/parameter "advanced" to backend"
The key/parameter "advanced" is now deprecated. Remove it from all GUI calls before it is completely removed from the Backend API.

See https://github.com/dotse/zonemaster-backend/issues/236 and https://github.com/dotse/zonemaster-backend/pull/233

[2016-12-08 10:17] sandoche2k opened #175 "Certain files are not in the GUI directory while installing from CPAN"
e.g. zm_app

was found here:
/home/sandoche/.cpan/build/Zonemaster-GUI-1.0.7-SKLJy5/zm_app whereas it was expected here :

:/usr/local/lib/x86_64-linux-gnu/perl/5.22.1/auto/Zonemaster/GUI

[2016-12-08 16:18] matsduf commented on #175
That is a directory with various files, isn't it? They should be put in different directories, shouldn't they?

[2016-12-11 17:23] sandoche2k opened #176 "When tested only with IPv4, GUI shows the result of IPv6 also"
The following URL (https://zonemaster.net/test/7ab1defa8e18324e) shows the test run with IPv6 disabled. But on clicking the details of the result one could see :

[code]

[2016-12-11 17:30] sandoche2k commented on #176
Refer to https://github.com/dotse/zonemaster-engine/issues/258

[2017-02-16 13:54] sandoche2k opened #178 "Add YAML to the installation instructions in the GUI"
From @aabdn

[code]

[2017-02-16 13:57] sandoche2k opened #179 "Update documentation why config.yml is needed for dancer?"

[2017-02-16 14:00] sandoche2k opened #180 "why Dancer wants to log into the zm_app directory?"
From @aabdn

[code]
Note : This issue can be closed if there is a valid arugment or in the contrary appropriate modifications is made in the code.

[2017-03-09 09:12] matsduf opened #181 "Add instructions how to replace Zonemaster logo and contact email address"
The Gui has Zonemaster logo and contact email address built in. Add instructions how to replace those with your own.

The contact address should probably be replace by some default and added as part of installation or configuration.

[2017-06-28 11:33] mtoma opened #183 "GUI generates a "query of death" that kills the database in certain specific scenarios"
The gui generates several history requests the first doesn't contain any domain information that might be problematic to handle by the database server.

[2017-06-30 14:28] helb opened #184 "FAQ doesn't work when browsers preffered language is not en/fr/sv"
When visiting the web interface with a browser set to prefer a language not supported by *zonemaster-gui*, the FAQ page just stays empty:

![kookaburra_20170630_161027](https://user-images.githubusercontent.com/178133/27739384-ab71c550-5dae-11e7-8dd5-bfa5f99f4ad6.png)

Tested on *zonemaster.net* & *zonemaster.se* with:
- Firefox 54, `Accept-Language: cs,en-US;q=0.7,en;q=0.3`
- Chrome 61, `Accept-L

[2017-06-30 15:40] helb opened #186 "The first click in FAQ doesn't work"
The first click on the FAQ chapter link does not jump to the corresponding chapter, because it drops the `#` from URL – it goes to `/q2` instead of `/#q2` for example.

Subsequent clicks work normally (but the URL stays like `/q2#q3`).

![zonemaster-1](https://user-images.githubusercontent.com/178133/27742787-2da36c12-5dba-11e7-97ec-39160773b499.gif)

No idea about the cause. I think maybe Angular

[2017-06-30 15:52] helb opened #187 "Broken style URL in the no-JS interface"
The `/nojs` page (at *zonemaster.net* & *zonemaster.se*) tries to fetch a css file from localhost:

[code]

(so my laptop in this case, with nothing listening at port 81)

Looking at the source (`nojs_main_view.tt`), it seems that `request.uri_base` gets replaced with `http://localhost:81`:

[code]

This might be due to reverse proxy not passing the request info down to the Perl server properly. J

[2017-07-03 09:12] matsduf commented on #184
I think it is a good proposal to have "en" as default language.

[2017-10-02 09:33] mattias-p opened #190 "Markdown rendering"
[Github has updated its markdown rendering engine](https://github.com/blog/2333-a-formal-spec-for-github-flavored-markdown), breaking some of documents. We need to update our markup to make it compliant with the new spec.

Specifically I've noted problems with headings that don't render properly anymore. [The new spec](https://github.github.com/gfm/#atx-headings) doesn't recognize NBSP as a separa

[2017-10-02 11:31] #190 closed

[2017-11-27 10:42] matsduf opened #202 "Introducing da in GUI"
PR #200 and #201 intruduces language da in GUI. Created PR of other changes needed.

[2017-11-27 10:45] mattias-p opened #203 "Fix broken travis"
Zonemaster::Backend 2.0.0 broke the Zonemaster::GUI travis script. The travis script needs to be fixed to use the new names.

[2017-11-27 15:57] matsduf commented on #161
Completed by 2017.3.

[2017-11-27 15:57] #161 closed

[2017-11-27 15:58] matsduf commented on #159
Already completed by release 2017.3.

[2017-11-27 15:58] #159 closed

[2017-11-27 15:58] #162 closed

[2017-11-28 14:21] pamasse commented on #181
Not relevant for upcoming GUI.

[2017-11-28 14:21] #181 closed

[2017-11-28 14:25] pamasse commented on #155
Create a ticket in Zonemaster.

[2017-11-28 14:29] pamasse commented on #83
New GUI upcoming with its documentation.

[2017-11-30 13:09] matsduf commented on #155
This issue is larger than GUI. A new ticket is created in Zonemaster, https://github.com/dotse/zonemaster/issues/538

[2017-12-07 08:24] matsduf commented on #203
[code]

[2017-12-12 08:11] matsduf commented on #203
Resolved by PR #205

[2017-12-12 08:11] #203 closed

[2017-12-12 12:52] #187 closed

[2017-12-12 12:53] #184 closed

[2017-12-12 12:53] #202 closed

[2017-12-14 07:50] sandoche2k commented on #183
@mtoma is it still an issue?

[2018-01-02 08:40] sandoche2k commented on #183
https://github.com/dotse/zonemaster-backend/issues/287 moved to 2018.1

[2018-01-02 10:43] matsduf commented on #183
@sandoche2k, I think the issue has been resolved by PR https://github.com/dotse/zonemaster-backend/pull/325.

[2018-01-02 10:44] sandoche2k commented on #183
@matsduf If i remember correctly, we said we will keep this issue, until there is a permanent fix.

[2018-01-02 10:51] matsduf commented on #183
@sandoche2k, from GUI perspective is resolved. From backend perspective the API should require non-empty domain name.

[2018-01-08 16:47] matsduf opened #210 "GUI fetches the FAQ from Github"
The FAQ, which is part of the GUI package is not installed on the server. Instead, the program fetches the FAQ from Github. This solution is strange and should be replaced.

In Zonemaster/GUI/Dancer/Frontend.pm we find the following code

[code]

[2018-02-19 13:39] pamasse opened #217 "Update GUI security"
Update GUI for security reasons (escape HTML)

[2018-02-22 08:10] sandoche2k commented on #217
@pamasse close ?

[2018-02-22 08:11] #217 closed

[2018-03-05 08:08] sandoche2k opened #222 "For new GUI : Add Danish"

[2018-03-05 08:10] sandoche2k opened #223 "For new GUI : Contents not translated"
The contents in the site like "About Zonemaster" and "About the Domain name System" are not translated while clicking on fr, sv

[2018-03-05 08:10] sandoche2k opened #224 "For the new GUI : Update Copyright to 2018"

[2018-03-05 08:14] sandoche2k commented on #176
closed by https://github.com/dotse/zonemaster-engine/issues/258

[2018-03-05 08:14] #176 closed

[2018-03-05 08:16] sandoche2k commented on #41
works in the new GUI. Hence close this issue

[2018-03-05 08:16] #41 closed

[2018-03-05 08:18] sandoche2k commented on #154
@pamasse for the new GUI please follow the above color coding

[2018-03-05 08:19] sandoche2k commented on #150
@pamasse could be closed when the new GUI is integrated

[2018-03-05 08:30] sandoche2k commented on #180
@aabdnn this issue seems not to be valid anymore with the current GUI.

[2018-03-05 08:31] sandoche2k commented on #153
@pamasse same as color coding issue.

[2018-03-05 08:35] sandoche2k opened #225 "For the new GUI: No Javascript alert"
There is no javascript alert when testing a domain such as "?Afnic.fr" as in zonemaster.net.

[2018-03-05 08:39] sandoche2k commented on #47
could be closed with the new GUI @pamasse

[2018-03-05 08:40] matsduf commented on #180
@sandoche2k, do you mean in the new GUI or current GUI?

[2018-03-05 08:42] sandoche2k commented on #48
could be closed with the new GUI @pamasse

[2018-03-05 08:44] sandoche2k commented on #84
@pamasse the new GUI should include this feature

[2018-03-05 08:47] sandoche2k opened #226 "For the new GUI : Not able to move the history pop up"

[2018-03-05 08:54] sandoche2k opened #227 "For the new GUI : Not able to click on info/notice/warning/error"
Like the option provided by CZ NIC, it will useful to click on the different tabs such as (Info, warning etc..)and go directly to those messages.

[2018-03-21 15:46] pamasse commented on #222
Done

[2018-03-21 15:51] pamasse commented on #225
Done

[2018-03-21 15:53] pamasse commented on #226
New feature ? It's will be easier to simply close the pop up after the click.

[2018-03-21 15:57] pamasse commented on #227
In the "show" menu of the result area, the "tabs" are used to filter results. For example, if you click on error, you will only display the error messages.
So, if it's not enough clear, or not the good behaviour, could you explain your expectation ?

[2018-03-21 15:58] pamasse commented on #224
Done

[2018-04-06 06:06] sandoche2k commented on #227
When the mouse is hovered over the tabs, the user should know it is clickable.

[2018-04-06 06:10] sandoche2k commented on #226
@pamasse You can close this issue

[2018-04-06 06:10] sandoche2k commented on #225
@pamasse close

[2018-04-06 06:11] sandoche2k commented on #224
@pamasse close

[2018-04-06 06:14] sandoche2k commented on #222
@pamasse close ?

[2018-04-06 06:16] sandoche2k commented on #210
@pamasse isn't this fixed in the new gUI?

[2018-04-06 06:16] sandoche2k commented on #186
@pamasse fixed in the GUI ?

[2018-04-06 06:20] sandoche2k opened #228 "New GUI : Once you click a link in FAQ, one is not able to navigate the FAQ page"

[2018-04-06 06:26] sandoche2k commented on #173
@pamasse is this issue taken care by the new GUI?

[2018-04-18 10:00] pamasse commented on #228
Done

[2018-04-18 10:10] pamasse commented on #227
Done

[2018-04-18 10:11] #226 closed

[2018-04-18 10:11] #228 closed

[2018-04-18 10:11] #227 closed

[2018-04-18 10:12] #225 closed

[2018-04-18 10:12] #224 closed

[2018-04-18 11:24] pamasse commented on #183
Fixed with the new GUI

[2018-04-18 11:25] pamasse commented on #180
Fixed with the new GUI
Apache or another web server have a better management of logs

[2018-04-18 11:26] pamasse commented on #178
Fixed with the new GUI

[2018-04-18 11:26] pamasse commented on #175
Fixed with the new GUI

[2018-04-18 11:26] pamasse commented on #174
Fixed with the new GUI

[2018-04-18 11:27] pamasse commented on #173
Fixed with the new GUI

[2018-04-18 11:28] pamasse commented on #158
Fixed with the new GUI

[2018-04-18 11:39] pamasse commented on #155
@matsduf It is still relevant? It's more a profil "issue" no ?

[2018-04-18 11:47] matsduf commented on #155
Yes, this is still relevant. It is not a profile issue, not "profile" as we have discussed profile, at least.

[2018-04-18 11:49] pamasse commented on #154
Done with the new GUI but need translation of notice, info, etc... explications.

[2018-04-18 11:50] matsduf commented on #223
We currently do not support Russian. How can I see the Danish (Google) translation?

[2018-04-18 11:52] pamasse commented on #223
@matsduf You can find the translations there : https://github.com/pamasse/zonemaster-gui/tree/master/src/assets/i18n

[2018-04-18 11:54] pamasse commented on #153
@sandoche2k I'm not sure to understand. but i fixed the color coding issue #154

[2018-04-18 11:55] pamasse commented on #152
@bortzmeyer Nice to see you !
It's fixed in the new interface which is only in JS (but mobile compliant). If you want something else check the CLI.

[2018-04-18 11:56] pamasse commented on #150
New GUI in Angular 5 (but Angular 6 will be soon available)

[2018-04-18 12:00] pamasse commented on #111
If you try a bad test_id, the new GUI display an empty result table and an red alert display a message "No data for this test".

[2018-04-18 12:14] sandoche2k commented on #223
Google translate is not a valid translation process. We should have a translation in our GUI only if it is validated by someone who is proficient with the particular language.

[2018-04-18 12:19] pamasse commented on #223
I switch the Da translation in English until someone do the translation ?

[2018-04-18 12:25] #186 closed

[2018-04-18 12:25] sandoche2k commented on #153
When there is an error or warning, it should not be dark green. if the color coding issue #154 is solved, normally this should be fixed.

[2018-04-18 12:29] pamasse commented on #84
Done :)
But only in french and english. For SV and DA, it must be done in translate files.
in /src/assets/i18n/da.json and /src/assets/i18n/sv.json

[2018-04-18 12:31] pamasse commented on #83
Very simple documentation will be done in the Readme.
Since all is done in javascript (Angular 5), no need to describe any custom behavior.

[2018-04-18 12:33] pamasse commented on #54
Can be closed. It will be done in the Backend.

[2018-04-18 12:38] sandoche2k commented on #183
Can we start testing all these issues in zonemaster.afnic-labs.fr ?

[2018-04-18 12:38] pamasse commented on #47
Not sure to see the benefits but it's not yet implemented in the new GUI.

[2018-04-18 12:44] pamasse commented on #40
Done by angular 5 (Leverage browser caching, Minify JavaScript, Defer parsing of JavaScript).
"Specify a Vary: Accept-Encoding header" => We should incorporate this recommendation in the installation doc (with the example of virtualhost).
https://kinsta.com/knowledgebase/specify-vary-accept-encoding-header/

"Enable gzip compression"  => Apache or nginx (or other web server) configuration

[2018-04-18 12:45] pamasse commented on #39
Still relevant for the new GUI ?

[2018-04-18 12:46] pamasse commented on #32
Fixed with the new GUI

[2018-04-18 12:51] sandoche2k commented on #39
This is not a priority. I will just keep it for validation once the new GUI is tested.

[2018-04-18 12:55] pamasse commented on #183
Yes of course :)

2018-04-18 14:38 GMT+02:00 sandoche2k <notifications@github.com>:

--
*Pierre-Aymeric MASSE*

[2018-04-23 05:25] sandoche2k commented on #210
If you want to improve, create a new one.

[2018-04-23 05:25] #210 closed

[2018-04-23 05:26] #183 closed

[2018-04-23 05:27] sandoche2k commented on #178
@sandoche2k to check during installation process

[2018-04-23 05:28] sandoche2k commented on #175
@sandoche2k check during installation and testing process.

[2018-04-23 05:29] sandoche2k commented on #174
@matsduf close ?

[2018-04-23 05:33] sandoche2k commented on #173
@sandoche2k to verify during testing

[2018-04-23 05:35] sandoche2k commented on #154
@pamasse "notice" is still green

[2018-04-23 05:40] #150 closed

[2018-04-23 05:41] sandoche2k commented on #152
closed since the new interface does not have the non Js version

[2018-04-23 05:41] #152 closed

[2018-04-23 05:43] sandoche2k commented on #111
Verified that this issue is solved in the new GUI

[2018-04-23 05:43] #111 closed

[2018-04-23 05:47] sandoche2k commented on #48
fixed

[2018-04-23 05:47] #48 closed

[2018-04-23 05:48] sandoche2k commented on #32
Fixed.

[2018-04-23 05:48] #32 closed

[2018-04-23 05:51] sandoche2k commented on #39
Can be closed.

[2018-04-23 05:51] #39 closed

[2018-04-23 05:55] pamasse commented on #174
Yes, we can close it

2018-04-23 7:29 GMT+02:00 sandoche2k <notifications@github.com>:

--
*Pierre-Aymeric MASSE*

[2018-04-23 06:25] pamasse commented on #154
Fix for result too and not only the filter menu

[2018-04-23 06:56] matsduf commented on #154
I just looked at https://zonemaster.afnic-labs.fr/domain_check and I would rather have green for info and a level with only info and notice.

[2018-04-23 08:16] #174 closed

[2018-04-24 13:31] #83 closed

[2018-04-24 13:31] #40 closed

[2018-04-30 12:29] sandoche2k opened #229 "Errors found while testing debian"
[code]

[2018-04-30 13:14] pamasse commented on #229
Can you try this :
[code]
Thx

[2018-06-19 11:58] matsduf opened #230 "New GUI: Error in time and date display"
Running a test, and the new GUI says: "Executed at 6/19/18, 10:14 AM GMT+2" or (for Swedish) "Körd 6/19/18, 10:14 AM GMT+2".

Error one is that the actual time is UTC, not UTC+2.

Error two is that the date format for Swedish is not -- Swedish.

[2018-06-19 14:07] pamasse commented on #230
hi, something like this ?:
FR:  19 juin 2018 14:04
SV: Körd 19 juni 2018 kl. 14:04
EN:  June 19, 2018 2:04 PM
DA:  19. juni 2018 14:04

[2018-06-19 14:29] matsduf commented on #230
"Körd" means "executed, so just "19 juni 2018 kl. 14:04". I think it make sense to tell what timezone it refers to.

[2018-06-19 14:55] pamasse commented on #230
Ok, i will remove the "executed at:", and the time is in UTC.
It's fine ?

[2018-06-19 15:26] matsduf commented on #230
It is fine, but...

Can the GUI pick the local timezone up from the computer running it? If so, I think it would be even nicer if it could display the time in the local timezone plus displaying it. But that is extra feature. :-)

[2018-06-19 15:52] pamasse commented on #230
Well, we can do that but not for now (need more work).

[2018-06-19 21:34] pamasse commented on #230
Well, i added this feature without displaying the UTC, it's quite hard to calculate it.

[2018-06-21 07:06] matsduf opened #231 "New GUI: some display behavior"
Report from Niall:

I've noticed some questionable presentation behaviour from zonemaster.fr,
probably to do with the alpha status of the GUI (GUI-2.0.0-alpha), which
may already be represented on your snag list.

1.	For a test group whose display is collapsed, the tooltip shown
when the cursor is moved over the '+' shows the label 'Collapse'
instead of 'Expand'.

2.	Propagation of the appropriate

[2018-06-21 07:08] pamasse commented on #231
Fixed, i will push soon + move the repo zonemaster/zonemaster-gui

[2021-07-05 14:02] #47 closed

[2021-07-05 14:02] #54 closed

[2021-07-05 14:02] #84 closed

[2021-07-05 14:02] #153 closed

[2021-07-05 14:02] #154 closed

[2021-07-05 14:02] #158 closed

[2021-07-05 14:02] #173 closed

[2021-07-05 14:02] #175 closed

[2021-07-05 14:02] #178 closed

[2021-07-05 14:02] #180 closed

[2021-07-05 14:02] #229 closed

[2021-07-05 14:02] #230 closed

[2021-07-05 14:02] #231 closed